extends ../layout

block content
	article 
		h2 Edit Device: !{device.name} 
		
		form(action=`/device/${device.id}/update` method="POST")

			label(for="name") Device Name
			input.device-name(type="text", name="name" value=device.name||'' required)

			br

			label(for="description") Description
			textarea(name="description" rows=5 columns=33) !{device.description}

			hr

			if (fermentations.length > 0)
				if (device.assignedFermentation)
					h3.label !{device.name} is currently assigned to !{device.assignedFermentation.name}
				else
					h3.label Assign this device to a fermentation

				each fermentation in fermentations
					- let isAssignedToThisDevice = fermentation.assignedDevice == device.id;
					if (!fermentation.assignedDevice || isAssignedToThisDevice)
						.fermentationRadio
							- const isChecked = device.assignedFermentation?._id.toString() == fermentation._id.toString()
							input(type="radio" id=fermentation.name name="assignedFermentation" value=fermentation._id checked=isChecked)
							label(for=fermentation.name) !{fermentation.name} 
								span.fermentation-description - !{fermentation.description}
				.fermentationRadio
					input(type="radio" id='none' name="assignedFermentation" value="null" checked=device.assignedFermentation ? false : true)
					label(for=None) None

			button(type="submit") Update

		form(action=`/device/${device._id}/delete` method="POST")
			button(type="submit") Delete !{device.name}
