extends ../layout

block content

	h2 Edit Device: #{device.name} 
	
	form(action="/device/add" method="PUT")

		label(for="deviceName") Device Name – to help you differentiate multiple devices.
		input(type="text", name="deviceName" value=device.name||'' required)

		br

		label(for="description") Description (optional).
		input(type="text", name="description" value=device.description||'') 



		if (fermentations.length > 0)
			if (device.currentFermentation)
				h3 #{device.name} is currently assigned to #{device.currentFermentation.name}
			else
				h3 Assign this device to a fermentation

			each fermentation in fermentations
				.fermentationRadio
					- const isChecked = device.currentFermentation === fermentation._id
					input(type="radio" id=fermentation.name name="fermentation" value=fermentation._id checked=isChecked)
					label(for=fermentation.name) #{fermentation.name}
						span.fermentation-description - #{fermentation.description}

		button(type="submit") Update

	form(action=`/device/${device._id}/delete` method="POST")
		button(type="submit") Delete #{device.name}


