extends ../layout

block content

	h2 Edit Device: !{device.name} 
	
	form(action=`/device/${device.id}/update` method="POST")

		label(for="name") Device Name – to help you differentiate multiple devices.
		input(type="text", name="name" value=device.name||'' required)

		br

		label(for="description") Description (optional).
		textarea(name="description" rows=5 columns=33) !{device.description}



		if (fermentations.length > 0)
			if (device.currentFermentation)
				h3 !{device.name} is currently assigned to !{device.currentFermentation.name}
			else
				h3 Assign this device to a fermentation

			each fermentation in fermentations
				if (!fermentation.assignedDevice)
					.fermentationRadio
						- const isChecked = device.currentFermentation?._id.toString() == fermentation._id.toString()
						input(type="radio" id=fermentation.name name="currentFermentation" value=fermentation._id checked=isChecked)
						label(for=fermentation.name) !{fermentation.name} 
							span.fermentation-description - !{fermentation.description}
			.fermentationRadio
				input(type="radio" id='none' name="currentFermentation" value="null" checked=device.currentFermentation ? false : true)
				label(for=None) None

		button(type="submit") Update

	form(action=`/device/${device._id}/delete` method="POST")
		button(type="submit") Delete !{device.name}


