extends ../layout

block content

	h2 Device: !{device.name} 


	p !{device.description}

	if (device.currentFermentation)
		p !{device.name} is currently assigned to fermentation !{device.currentFermentation}.
	else
		p 
			| !{device.name} is not currently assigned to a fermentation. You can either 
			a(href="/fermentation/add") create a new fermentation
			| , or assign a preexisting fermentation by 
			a(href=`device/${device._id}/edit`) editing this device
			|.
