extends ../layout 

block content

	style
		include ../../public/stylesheets/inline/dashboard.css

	article.fermentations
		h2 Fermentations
		ul 
			if (user.fermentations.length > 0)
				each fermentation in user.fermentations
					li
						a(href=`/fermentation/${fermentation._id}`)
							h4 !{fermentation.name}
							p.small-copy !{fermentation.description}
						a.edit(href=`/fermentation/${fermentation._id}/edit`)
							h4 Edit
			li.plus
				a(href="/fermentation/add")
					span.plus + 
					h4 Add a new fermentation

	article.devices.flex-grow
		h2 Devices
		ul 
			if (user.devices.length > 0)
				each device in user.devices
					li
						a(href=`/device/${device._id}`)
							h4 !{device.name}
							p.small-copy !{device.description}
						a.edit(href=`/device/${device._id}/edit`)
							h4 Edit

			li.plus
				a(href="/device/add")
					span.plus + 
					h4 Register a new device

