extends ../layout 

block content

	style
		include ../../public/stylesheets/dashboard.css

	article.fermentations
		h2 Fermentations
		ul 
			if (user.fermentations.length > 0)
				each fermentation in user.fermentations
					li
						h4
							a(href=`/fermentation/${fermentation._id}`) !{fermentation.name}
							|
							|
							|
							a.edit(href=`/fermentation/${fermentation._id}/edit`) Edit
						p.small-copy !{fermentation.description}
			li
				a(href="/fermentation/add")
					span.plus + 
					h4 Add a new fermentation

	article.devices
		h2 Devices
		ul 
			if (user.devices.length > 0)
				each device in user.devices
					li
						h4
							a(href=`/device/${device._id}`) !{device.name}
							|
							|
							|
							a.edit(href=`/device/${device._id}/edit`) Edit
						p.small-copy !{device.description}

			li
				a(href="/device/add")
					span.plus + 
					h4 Register a new device

