extends ../layout

block content

	if (editingExhisitngFermentation)
		h1 Edit Fermentation 
	else 
		h1 Add New Fermentation

	- const actionPath = fermentation ? `?${fermentation.id}/update` : 'add';

	form(action=`fermentation/${actionPath}` method="PUT") 

		if (fermentation)
			label(for="name") Name
			input(type="text" name="name" value=fermentation.name||'' required)
			br
			label(for="description") Description
			textarea(name="description" rows=5 columns=33 value=fermentation.description||'')
			br
			label(for="targetFG") Target FG
			input(type="number" name="targetFG" value=fermentation.gravity.targetFG||'')
			br
			label(for="actualFG") actual FG
			input(type="number" name="actualFG" value=fermentation.gravity.actualFG||'')
			br

		else
			label(for="name") Name
			input(type="text" name="name" required)
			br
			label(for="description") Description
			textarea(name="description" rows=5 columns=33 )
			br
			label(for="targetFG") Target FG
			input(type="number" name="targetFG")
			br

		button(type="submit") Submit
