extends ../layout

block content

	if (editingExhistingFermentation)
		h1 Edit Fermentation 
	else 
		h1 Add New Fermentation

	- const f = fermentation ? fermentation : false;
	- const actionPath = fermentation ? `/?${fermentation.id}/update` : '/fermentation/add';

	form(action= actionPath method= f ? 'PUT' : 'POST') 

		label(for="name") Name
		input(type="text" name="name" value= name || f ? f.name : '' required)
		br
		label(for="description") Description
		textarea(name="description" rows=5 columns=33 value= description || f ? f.description : '')
		br
		label(for="targetFG") Target OG
		input(type="number" name="targetOG" value= targetOG || f ? f.gravity.targetOG : '')
		br
		label(for="actualFG") Actual OG
		input(type="number" name="actualOG" value= actualOG || f ? f.gravity.actualOG : '')
		br
		label(for="targetFG") Target FG
		input(type="number" name="targetFG" value= targetFG || f ? f.gravity.targetFG : '')
		br
		if (editingExhisitngFermentation)
			label(for="actualFG") Actual FG
			input(type="number" name="actualFG" value= actualFG || f ? f.gravity.actualFG : '')
			br


		if (devices.length > 0)
			h3 Select a device to monitor/control this fermentation
			each device in devices
				.deviceRadio
					input(type="radio" id=device.name name="device" value=device._id)
					label(for=device.name) !{device.name}
						span.device-description  - !{device.description}


		button(type="submit") Submit

	if (editingExhistingFermentation)
		form(action=`/device/${fermentation._id}/delete` method="POST")
			button(type="submit") Delete !{fermentation.name}
