extends ../layout

block content


	h1 !{fermentation.name}


	if (fermentation.description)
		p.description !{fermentation.description}
	
	article
		h2 Fermentation Thermal Profile

		.graph-container

	if (fermentation.recipe.malt || fermentation.recipe.hops || fermentation.recipe.yeast) 
		article.recipe
			h2 Recipe

	- const temperatureLog = fermentation.dataLog.thermalProfile.actual;
	if (temperatureLog.length > 0) 
		article.temperature
			h2 Temperature
			p Last logged temperature: #{temperatureLog[temperatureLog.length - 1].temp}°C
			.graph-container
				svg#actualTempGraph
	
	article.gravity
		h2 Specific Gravity
		
		table
			thead
				tr
					th 
					th Original Gravity
					th Final Gravity
			tbody
				tr
					td Target
					td #{fermentation.targetOG}
					td #{fermentation.targetFG}
				tr
					td Actual
					td #{fermentation.actualOG}
					td #{fermentation.actualFG}

	article.assigned-device
		h2 Assigned Device
		if (fermentation.assignedDevice) 
			p Device '
				a(href=`/device/${fermentation.assignedDevice._id}`) !{fermentation.assignedDevice.name}
				| ' is currently assigned to '!{fermentation.name}'.
		else
			p !{fermentation.name} currently has no device assigned. 
				a(href=`/fermentation/${fermentation._id}/edit`) Edit this fermentation
				|
				| to assign a pre-registered device, or
				|
				a(href="/device/add") register a new device
				| 
				| and select !{fermentation.name} in the device section of the form.
	

	a(href=`/fermentation/${fermentation._id}/edit`) Edit fermentation details.
	//- script(src="https://d3js.org/d3.v6.min.js")
	//- include clientScripts/drawGraph.js
	